<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right" id="btn-logout">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="alert alert-success row col-12 ml-1" id="success" th:if="${message}" th:text="${message}"></div>
                <div class="alert alert-danger row col-12 ml-1" th:if="${error}" th:text="${error}"></div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" th:action="@{/file/upload}" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(filesList)}">
                                    <tr>
                                        <td colspan="2" style="text-align: center">No data available.</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="${#lists.isEmpty(filesList)}">
                                    <tr th:each="file : ${filesList}">
                                        <td>
                                            <a target="_blank" class="btn btn-success" th:onclick="showFileDetailModal([[${file.fileId}]], [[${file.fileName}]], [[${file.fileData}]])">View</a>
                                            <a  class="btn btn-danger" th:onclick="showFileDeleteModal([[${file.fileId}]], [[${file.fileName}]])">Delete</a>
                                        </td>
                                        <th scope="row" th:text="${file.fileName}"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal fade" id="fileDetailModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="fileDetailModalLabel">File</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/file}" method="GET" id="downloadFileForm">
                                        <div class="form-group">
                                            <label for="file-name" class="col-form-label">File name: </label>
                                            <label for="file-view" class="col-form-label" id="file-name"></label>
                                        </div>
                                        <div class="form-group">
                                            <label for="file-view" class="col-form-label">Description</label>
                                            <img src="" alt="" id="file-view" width="100%">
                                        </div>
                                        <button id="fileDownloadSubmit" type="submit" class="d-none"></button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="$('#fileDownloadSubmit').click();">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteFileModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteFile">Delete file</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form action="#" th:action="@{/file/delete}" method="POST" id="deleteFileForm">
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete file "<strong><label class="col-form-label" id="file-name-delete"></label></strong>"?</p>
                                    </div>
                                    <button id="fileDeleteSubmit" type="submit" class="d-none"></button>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="close-modal-2" onclick="$('#deleteFileModal').modal('hide')">No</button>
                                    <button type="button" class="btn btn-danger" onclick="$('#fileDeleteSubmit').click();">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()" id="add-note">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(notesList)}">
                                    <tr>
                                        <td colspan="3" style="text-align: center">No data available.</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="${#lists.isEmpty(notesList)}">
                                    <tr th:each="note : ${notesList}">
                                        <td>
                                            <button id="update-note-btn" type="button" class="btn btn-success" th:onclick="showNoteDetailModal([[${note.noteId}]],[[${note.noteTitle}]],[[${note.noteDescription}]])">Edit</button>
                                            <a id="delete-note-btn" class="btn btn-danger" th:onclick="showNoteDeleteModal([[${note.noteId}]],[[${note.noteTitle}]])">Delete</a>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}"></th>
                                        <td th:text="${note.noteDescription}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/note/add}" method="POST">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="submit-note" type="button" class="btn btn-primary" onclick="$('#noteSubmit').click()">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="noteDetailModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteDetailModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/note/update}" method="POST">
                                            <input type="hidden" name="noteId" id="note-detail-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" class="form-control" id="note-detail-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-detail-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteDetailSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="update-note" type="button" class="btn btn-primary" onclick="$('#noteDetailSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteNoteModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteNote">Delete note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form action="#" th:action="@{/note/delete}" method="POST" id="deleteNoteForm">
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete note "<strong><label class="col-form-label" id="note-delete-title"></label></strong>"?</p>
                                        </div>
                                        <button id="noteDeleteSubmit" type="submit" class="d-none"></button>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="close-modal" onclick="$('#deleteNoteModal').modal('hide')">No</button>
                                        <button id="confirm-delete-note" type="button" class="btn btn-danger" onclick="$('#noteDeleteSubmit').click();">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button id="add-credential" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody th:if="${#lists.isEmpty(credentialsList)}">
                                    <tr>
                                        <td colspan="4" style="text-align: center">No data available.</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="${#lists.isEmpty(credentialsList)}">
                                    <tr th:each="credential : ${credentialsList}">
                                        <td>
                                            <button id="update-credential-btn" type="button" class="btn btn-success"
                                                    th:onclick="showCredentialDetailModal([[${credential.credentialId}]],[[${credential.url}]],[[${credential.username}]],[[${credential.decodedPassword}]])">Edit</button>
                                            <a id="delete-credential-btn" class="btn btn-danger" th:onclick="showCredentialDeleteModal([[${credential.credentialId}]], [[${credential.url}]], [[${credential.username}]])">Delete</a>
                                        </td>
                                        <th scope="row" th:text="${credential.url}"></th>
                                        <td th:text="${credential.username}"></td>
                                        <td th:text="${credential.password}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/credential/add}" method="POST">
                                            <input type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="submit-credential" type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="credentialDetailModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialDetailModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/credential/update}" method="POST">
                                            <input type="hidden" name="credentialId" id="credential-detail-id">
                                            <div class="form-group">
                                                <label for="credential-url" class="col-form-label">URL</label>
                                                <input type="text" name="url" class="form-control" id="credential-detail-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-username" class="col-form-label">Username</label>
                                                <input type="text" name="username" class="form-control" id="credential-detail-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="credential-password" class="col-form-label">Password</label>
                                                <input type="text" name="password" class="form-control" id="credential-detail-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialDetailSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="update-credential" type="button" class="btn btn-primary" onclick="$('#credentialDetailSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteCredentialModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteCredential">Delete Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form action="#" th:action="@{/credential/delete}" method="POST" id="deleteCredentialForm">
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete credential<br>
                                                <strong><label class="col-form-label" id="url-delete"></label></strong><br>
                                                of user <strong><label class="col-form-label" id="username-delete"></label></strong>?</p>
                                        </div>
                                        <button id="credentialDeleteSubmit" type="submit" class="d-none"></button>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="close-modal-1" onclick="$('#deleteCredentialModal').modal('hide')">No</button>
                                        <button id="confirm-delete-credential" type="button" class="btn btn-danger" onclick="$('#credentialDeleteSubmit').click();">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(id, noteTitle, noteDescription) {
                $('#note-id').val(id ? id : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            function showNoteDetailModal(id, noteTitle, noteDescription) {
                $('#note-detail-id').val(id ? id : '');
                $('#note-detail-title').val(noteTitle ? noteTitle : '');
                $('#note-detail-description').val(noteDescription ? noteDescription : '');
                $('#noteDetailModal').modal('show');
            }

            function showNoteDeleteModal(id, noteTitle) {
                $('#deleteNoteForm').attr('action', '/note/delete/' + id);
                $('#note-delete-title').text(noteTitle ? noteTitle : '');
                $('#deleteNoteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(id, url, username, password) {
                $('#credential-id').val(id ? id : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }

            function showCredentialDetailModal(id, url, username, decodedPassword) {
                $('#credential-detail-id').val(id ? id : '');
                $('#credential-detail-url').val(url ? url : '');
                $('#credential-detail-username').val(username ? username : '');
                $('#credential-detail-password').val(decodedPassword ? decodedPassword : '');
                $('#credentialDetailModal').modal('show');
            }

            function showCredentialDeleteModal(id, url, username) {
                $('#deleteCredentialForm').attr('action', '/credential/delete/' + id);
                $('#url-delete').text(url ? url : '');
                $('#username-delete').text(username ? username : '');
                $('#deleteCredentialModal').modal('show');
            }

            function showFileDetailModal(id, fileName, data) {
                $('#downloadFileForm').attr('action', '/file/download/' + id);
                $('#file-view').attr('src', "data:image/png;base64," + data);
                $('#file-name').text(fileName ? fileName : '');
                $('#fileDetailModal').modal('show');
            }

            function showFileDeleteModal(id, fileName) {
                $('#deleteFileForm').attr('action', '/file/delete/' + id);
                $('#file-name-delete').text(fileName ? fileName : '');
                $('#deleteFileModal').modal('show');
            }
        </script>
    </body>
</html>
